* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section1, .section2, .section3, .section4, .section5, .section6 {
    background-image: url('../images/tree/tree_three.png');
}

.content {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 10px;
    max-width: 100%;
}

h1 { font-size: 3rem; margin-bottom: 10px;}
p { font-size: 1.2rem;}

.navbar {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    padding: 20px 10px;
    transition: all 0.4s ease;
    z-index: 1000;
}

.navbar.shrink {
    padding: 10px 10px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.navbar.shrink .navbar-brand img {
    height: 40px;
    transition: height 0.4s ease;
}


.navbar.shrink .nav-link {
    font-size: 0.9rem;
    transition: all 0.4s ease;
}

/* Linki w navbarze – białe, bez podkreśleń i efektów */
.navbar .nav-link {
    color: white !important;
    text-decoration: none !important;  /* usuwa podkreślenia */
    background: transparent !important; /* usuwa przyciemnienia po kliknięciu */
    outline: none !important;           /* usuwa focus */
    box-shadow: none !important;        /* usuwa cień */
    transition: none;
    position: relative;
    display: inline-block;/* brak efektów hover */
    padding-bottom: 5px;
}


/* Pseudo-element do podkreślenia */
.navbar .nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;           /* grubość linii */
    bottom: 0;
    left: 0;
    background-color: white; /* kolor podkreślenia */
    transition: width 0.3s ease;
}

/* Podkreślenie przy hover */
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after { /* jeśli chcesz podkreślenie też dla aktywnego linku */
    width: 100%;
}

.navbar .nav-link:hover {
    padding: 5px 10px;
}

/* Linki nie zmieniają koloru po kliknięciu */
.navbar .nav-link:focus,
.navbar .nav-link:active {
    color: white !important;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}


